.Catalog {
  position: relative;
  width: 333px;
  height: 1116px;

  /* white */

  background: #FFFFFF;
}

.Block {

  /*position: absolute;*/
  width: 305px;
  height: 482px;
  left: 16px;
  top: 618px;

  /* white */

  background: #FFFFFF;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  list-style-type: none; /* Убираем маркеры */
}

.li{


}

.Screenshot{

  /*position: absolute;*/
  width: 325px;
  height: 423px;
  left: -10px;
  top: -10px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/jacket.jpg);

}

.Image{

  /*position: absolute;*/
  width: 310px;
  height: 407px;
  left: -3px;
  top: -3px;

  background-image: url(../images/jacket.jpg);

}

.Image76{

  position: absolute;
  visibility: hidden;
  width: 339px;
  height: 409px;
  left: -14px;
  top: -5px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 58.68%, rgba(0, 0, 0, 0.5) 100%), url(../images/jacket.jpg);

}

